<!DOCTYPE html>
<html>
<head>
    <title>Classify Note</title>
    <link rel="stylesheet" type="text/css" href="../static/css/feature.css">
</head>
<body>
    <h1>Classify Note</h1>
    <div class="container">
        <div class="description">
            <p>In this option, you must upload two images, one of which is a normal
                image of the currency, and the other being an image of the currency 
                under UV light, then we will predict is the note is real or fake. The 
                possible Predictions are Real and Fake. This is only to demonstrate the
                classifying currency feature.
            </p>
        </div>
        <div class="form">
            <form method="POST" enctype="multipart/form-data">
                <label for="image">Upload an Image of the currency:</label>
                <input type="file" name="image">
                <br><br>
                <label for="uv-image">Upload a UV Image of the currency:</label>
                <input type="file" name="uv-image">
                <br><br>
                <input type="submit" value="Submit">
            </form>
            {% if prediction %}
            <p>The predicted value is {{ prediction }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
