<!DOCTYPE html>
<html>
<head>
    <title>BlindTrust</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo"></div>
            <ul>
                <li><a id="home" onclick="location.href='/'">Home</a></li>
                <li><a id="identify" onclick="location.href='/identify_currency'">Identify Currency</a></li>
                <li><a id="classify" onclick="location.href='/classify_note'">Classify Currency</a></li>
                <li><a id="summing" onclick="location.href='/sum_up_currency'">Sum Up Currency</a></li>
            </ul>
        </div>
        <div class="description">
            <div id="home-des" class="specific-des active">
                <h1>BlindTrust</h1>
                <p>This is a simple website created to demonstrate the functionalities of 
                    our BlindTrust project, which is a IoT device that helps visually 
                    impaired people Identify, Classify & Sumup Sri Lankan Currency.
                </p>
                <h1>About Us</h1>
            </div>
            <div id="identify-des" class="specific-des">
                <h1>Identify Currency</h1>
                <p>In this option, you must upload a normal image of a currency, then we
                    will predict what the note is and display the prediction. The 
                    possible Predictions are Rs.20, Rs.50, Rs.100, Rs.500, Rs.1000,
                    Rs.5000. This is only used to demonstrate the identify Curency feature.
                </p>
            </div>
            <div id="classify-des" class="specific-des">
                <h1>Classify Currency</h1>
                <p>In this option, you must upload two images, one of which is a normal
                    image of the currency, and the other being an image of the currency 
                    under UV light, then we will predict is the note is real or fake. The 
                    possible Predictions are Real and Fake. This is only to demonstrate the
                    classifying currency feature.
                </p>
            </div>
            <div id="summing-des" class="specific-des">
                <h1>Sum Up Currency</h1>
                <p>In this option, you can upload multiple normal images of the currencies, 
                    we will identify each note and display the total amount of currency shown.
                    The possible Predictions are any value greater or equal to zero. In this 
                    we dont check if the currency is real, to keep the dashboard simple. This
                    is only to demonstrate the sum up feature.
                </p>
            </div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
